<section id="play" class="half">
  <div class="container">
    <div class="mb-4 row text-center" *ngIf="gameEnd">
      <div class="col" >
          <span>You lost. Git gud.</span>
      </div>
    </div>
    <div class="mb-4 row text-center" *ngIf="!gameEnd && currentNumber > 3 && playerTurn">
      <div class="col" >
        <span>Robot last move is {{robotLastMove}}.</span>
      </div>
    </div>
    <div class="mb-4 row text-center" *ngIf="!gameEnd && !playerTurn">
      <div class="col" style="margin-left:45%">
        <div class="la-pacman text-danger text-center">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="mb-4 row text-center" *ngIf="playing">
      <div class="col" >
        <h5 class="mb-2">Current Number:</h5>
        <h3 class="font-patua text-danger">{{currentNumber}}</h3>
      </div>
    </div>
    <div class="mb-4 row text-center" *ngIf="playing">
      <div class="col">
          <span *ngIf="playerTurn">Your turn.</span>
          <span *ngIf="!playerTurn">The robot is thinking.. :^)</span>
      </div>
    </div>
    <div class="mb-4 row" *ngIf="!playing">
      <div class="offset-md-5 col-md-2 col-sm-12">
        <button (click)="play()" class="btn btn-lg btn-danger btn-block">
          PLAY
        </button>
      </div>
    </div>
    <div class="row" *ngIf="playing">
      <div class="col">
        <button (click)="submit(1)"
        [ngClass]="{
          'disabled': !playerTurn,
          'unclickable': !playerTurn
        }"
        class="btn btn-lg btn-danger btn-block"
        *ngIf="playing">
          1
        </button>
      </div>
      <div class="col">
        <button (click)="submit(2)"
        [ngClass]="{
          'disabled': !playerTurn,
          'unclickable': !playerTurn
        }"
        class="btn btn-lg btn-danger btn-block"
        *ngIf="playing">
          2
        </button>
      </div>
      <div class="col">
        <button (click)="submit(3)"
        [ngClass]="{
          'disabled': !playerTurn,
          'unclickable': !playerTurn
        }"
        class="btn btn-lg btn-danger btn-block"
        *ngIf="playing">
          3
        </button>
      </div>
    </div>
  </div>
</section>
